@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Font-01-Rock';
    src: url('./fonts/Font-01-Rock.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Font-02-Lond';
    src: url('./fonts/Font-02-Lond.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Font-03-Poir';
    src: url('./fonts/Font-03-Poir.ttf') format('truetype');
    font-display: swap;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}